<ion-view view-title="Cuenta">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Nombre">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellidos">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Cambiar password">
      </label>

      <button class="button button-block button-balanced">
        Guardar cambios
      </button>

      <button class="button button-block button-assertive margenSup40" ng-click="eliminarCuenta()">
        Eliminar cuenta
      </button>
    </div>

  </ion-content>
</ion-view>
