<ion-view view-title="Fotografías">
  <ion-nav-buttons side="right">
   <i class="button button-icon button-clear ion-power" ng-click="salir()"></i>
  </ion-nav-buttons>
  <ion-content class="padding">

    <ion-list>

      <ion-item class="item item-thumbnail-left item-icon-right" type="item-text-wrap" href="#">

        <img src="img/logo_fb.jpg" ng-click="showImage(1)">
        <h2>Retrato</h2>
        <p>5€</p>
        <i class="icon ion-bag icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-thumbnail-left item-icon-right" type="item-text-wrap" href="#">

        <img src="img/logo_fb.jpg" ng-click="showImage(2)">
        <h2>Paisaje</h2>
        <p>10€</p>
        <i class="icon ion-bag icon-accessory"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
